<h1><%= @courier.name %></h1>

<p><%= @courier.email %></p>

<ul>
  <li><%= link_to "Edit", edit_courier_path(@courier) %></li>
  <li><%= link_to "Destroy", courier_path(@courier),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>


<h2>Packages</h2>
<%= render @courier.packages %>

<h2>Add a comment:</h2>
<%= render 'packages/form' %>
